# Ignore everything in results
results/**

# Allow best_hyperparams.json anywhere under results
!results/**/best_hyperparams.json

# Specific includes/excludes for loreft dataset
!pyreft/examples/loreft/dataset
# Ignore other directories and file patterns
wandb/**
__pycache__/**
glue_data/**
.vscode/**
*.tar
*.pyc
**/ray_results/**
src/models/__pycache__/**
hostname.txt
rllab/**
req.txt
*.pt
log.txt
logs.txt
mihomo/**
test/**
**/profile_log/**