# Ignore everything in results
results/**

# Unignore the specific path directories so that contents can be checked
!pyreft/
!pyreft/loreft/
!pyreft/loreft/official_results/
!pyreft/loreft/official_results/**/

# Re-ignore everything else inside the result directories
pyreft/loreft/official_results/**
!*result*/**/best_hyperparams.json

# Specific includes/excludes for loreft dataset
!pyreft/examples/loreft/dataset
# Ignore other directories and file patterns
**/wandb/**
__pycache__/**
glue_data/**
.vscode/**
*.tar
*.pyc
**/ray_results/**
src/models/__pycache__/**
hostname.txt
rllab/**
req.txt
*.pt
log.txt
logs.txt
mihomo/**
test/**
**/profile_log/**
**/**log**/
**/*egg-info/**